@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-VariableFont_wght.ttf');
}
body {
  font-family: 'Oswald';
  margin: 0px;
}

table {
  line-height: 50px;
}

.home_container {
  position: relative;
  height: 100%;
}
.sidebar {
  padding-top: 20px;
  width: 22%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
}
.sidebar img {
  background-image: url('../images/home_page_bg_2.jpeg');
  width: 120px;
  border-radius: 100%;
  border: 2px solid #e5e5e5;
}
.sidebar h3 {
  color: #d1cfcf;
  margin-bottom: 50px;
}

.sidebar p {
  color: #d1cfcf;
  margin-bottom: 50px;
  font-size: 20px;
}

.container {
  background-image: url('../images/home_page_bg_2.jpeg');
  height: 100vh;
  margin-left: 22%;
  color: #fff;
  position: relative;
}
.container_mask {
  height: 100vh;
  /* opacity: 0.5; */
  background-color: rgba(0, 0, 0, 0.619);
}
.container .container_text {
  font-size: 20px;
  width: 100%;
  position: absolute;
  font-family: Oswald, Helvetica, sans-serif;
  right: 0;
}

.container .u {
  /* text-decoration: underline; */
  /* text-decoration-color: yellow; */
  border-bottom: 4px solid #ffcd38;
  padding: 0 0 2px;
}

.container .user_name {
  font-size: 80px;
  margin: 0px;
  padding-top: 80px;
}
.container .user_role {
  color: rgb(245, 245, 245);
  opacity: 0.5;
}

#nav {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  font-size: 15px;
}
#nav li {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid rgb(237, 236, 236);
  border-top: 1px solid rgb(237, 236, 236);
  margin-top: -1px;
}
#nav li.active {
  background-color: #f5f3f3;
}
li.active a:after {
  background-color: #f4c052;
  display: block;
  position: absolute;
  content: ' ';
  right: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
}
#nav a {
  color: black;
  text-decoration: none;
}

/* Social links */
ul.social-links {
  display: block;
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
  text-align: center;
}

ul.social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.social-links li a {
  display: inline-block;
  margin: 0 2px;
  width: 28px;
  height: 28px;
  color: #888;
  background-color: #eee;
  text-align: center;
}

ul.social-links li a:hover {
  color: #fff;
  background-color: #34c7a9;
}

ul.social-links li a i {
  font-size: 14px;
  line-height: 28px;
}

ul.social-links li a:hover i {
  color: #fff;
}

ul.social-links li a:hover {
  color: #34c7a9;
}

ul.social-links li:last-child a {
  margin-right: 0;
}
